@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  background-color: #ECEBEB;
  font-family: "微軟正黑體";
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 35%;
  border: 8px solid #fff;
  display: flex;
  background-color: #2593BB;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.text {
  position: absolute;
}
.text h2 {
  font-size: 60px;
  letter-spacing: 10px;
  color: #fff;
  margin: 0;
}
.text h3 {
  font-size: 30px;
  letter-spacing: 8px;
  margin: 0;
  color: #fff;
}

.pattern {
  position: absolute;
}
.pattern .rect1 {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #911F22;
  position: absolute;
  top: 100px;
  left: -400px;
}
.pattern .rect2 {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #911F22;
  position: absolute;
  top: -300px;
  left: 300px;
}
.pattern .rect3 {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #F0882D;
  position: absolute;
  top: -200px;
  left: -600px;
}
.pattern .rect4 {
  width: 60px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #F0882D;
  top: 350px;
  left: -500px;
}
.pattern .rect5 {
  width: 20px;
  height: 60px;
  position: absolute;
  border-radius: 5px;
  background-color: #F0882D;
  top: -400px;
  left: -50px;
}
.pattern .rect6 {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #F0882D;
  position: absolute;
  left: 150px;
  top: 300px;
}
.pattern .rect7 {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #F0882D;
  position: absolute;
  left: 500px;
  top: -50px;
}
.pattern .rect8 {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #F0882D;
  position: absolute;
  left: 400px;
  top: 250px;
}
@keyframes moving {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(0px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.pattern [class^=rect] {
  animation: moving 3s infinite;
}
.pattern .rect1 {
  animation-delay: -0.5s;
}
.pattern .rect2 {
  animation-delay: -1s;
}
.pattern .rect3 {
  animation-delay: -1.5s;
}
.pattern .rect4 {
  animation-delay: -2s;
}
.pattern .rect5 {
  animation-delay: -2.5s;
}
.pattern .rect6 {
  animation-delay: -3s;
}
.pattern .rect7 {
  animation-delay: -3.5s;
}
.pattern .rect8 {
  animation-delay: -4s;
}
.pattern .rect9 {
  animation-delay: -4.5s;
}
.pattern .rect10 {
  animation-delay: -5s;
}
.pattern .rect11 {
  animation-delay: -5.5s;
}
.pattern .rect12 {
  animation-delay: -6s;
}
.pattern .rect13 {
  animation-delay: -6.5s;
}
.pattern .rect14 {
  animation-delay: -7s;
}
.pattern .rect15 {
  animation-delay: -7.5s;
}
.pattern .rect16 {
  animation-delay: -8s;
}
.pattern .rect17 {
  animation-delay: -8.5s;
}
.pattern .rect18 {
  animation-delay: -9s;
}
.pattern .rect19 {
  animation-delay: -9.5s;
}
.pattern .rect20 {
  animation-delay: -10s;
}
.pattern .rect21 {
  animation-delay: -10.5s;
}
.pattern .rect22 {
  animation-delay: -11s;
}
.pattern .rect23 {
  animation-delay: -11.5s;
}
.pattern .rect24 {
  animation-delay: -12s;
}
.pattern .rect25 {
  animation-delay: -12.5s;
}
.pattern .rect26 {
  animation-delay: -13s;
}
.pattern .rect27 {
  animation-delay: -13.5s;
}
.pattern .rect28 {
  animation-delay: -14s;
}
.pattern .rect29 {
  animation-delay: -14.5s;
}
.pattern .rect30 {
  animation-delay: -15s;
}

/*# sourceMappingURL=style.css.map */
